$transitionTime:.9s;

.scta-DeleteTable_LoadingIcon{
  position: absolute;
  top:0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;

}
.scta-DeleteTable_LoadingIcon.scta-DeleteTable_LoadingIcon_TableIsLoading{
  display: flex;
  visibility: visible;
}

.scta-DeleteTable_TableContainer{
  position: relative;
}

.scta-DeleteTable_Table.scta-DeleteTable_Table_TableIsLoading{
  top:-1000px;
  visibility: hidden;
}

.scta-DeleteTable_Table{
  visibility: visible;
  position: relative;
}

