@import "~bulma";
$scta-half:30px;
$scta-full:$scta-half*2;
.monospace-font span,button{
  font-family: monospace;
}
.padding-10{
  padding: 10px;
}
.meeting-type-container span{
  width: 64px;
}
.empty-line{
  content:"\200b";
  visibility: hidden;
  border: 0 hidden;
}

.f-cont{
  display: flex;

}
.f-cont-in{
  display: inline-flex;
}

.scta-meeting-time-list-item-time-and-types{
  display: flex;
  flex-wrap: wrap;
  width: $scta-full*5;

}
.scta-meeting-time-list-item{
  display: flex;
  flex: 1;

}
.scta-meeting-time-list-item-time-and-types> div:first-child{
  flex:0 1 100%;

}
.scta-meeting-type-flex-container{
  display: flex;
  flex-wrap: wrap;
  width: $scta-full;

}
.scta-full{
  width: $scta-full;
}
.scta-half{
  width: $scta-half;
}
.scta-fill{
  flex-grow: 1;
}
//.scta-meeting-type-flex-container > span{
//  width: $scta-full;
//}
//.scta-meeting-time-list-item-delete{
//  flex: 1;
//}
//.scta-meeting-time-list-item-delete > button{
//  height: 100%;
//}
//.scta-meeting-time-control{
//  display: flex;
//}
//.scta-meeting-time-list-item-container{
//  display: flex;
//  flex-direction: row;
//}
.scta-meeting-time-card-container{
  display: flex;
  flex-wrap: wrap;
}
.scta-meeting-time-card{
  display: flex;
  flex: 0 1 auto;
}
.scta-meeting-time-card div{
  flex: 0 1 auto;
}
.scta-meeting-time-card-body{
  display: flex;
  margin: 10px 10px 10px 10px;
  flex-direction: column;
  flex: 0 1 auto;
}
.scta-meeting-time-datetime{
  display: flex;
}
.scta-meeting-time-datetime > span:last-child{
  flex-grow: 1;
  flex-shrink: 0;
}
.scta-meeting-time-card-types{
  display: flex;
  flex-wrap: wrap;
  width: 5*$scta-full;

}
.scta-meeting-time-card-types span {
  width: $scta-full;
}
.scta-meeting-time-card-delete{
  display: flex;
  flex: 0 1 auto;
}
.scta-meeting-time-card-delete > button{
  display: flex;
  flex: 0 1 auto;
  height: 100%;

}

.scta-button-flag{
  border: 1px solid rgba(90, 90, 90, 0.44);
  text-align: center;
  padding: 8px 0;
  border-radius: 4px;

}
.scta-button-flag-full{
  @extend .scta-button-flag;
  width: $scta-full;
}
.scta-button-flag-half{
  @extend .scta-button-flag;
  width: $scta-half;
}
.scta-colon-button-flag{
  font-weight: bold;
  font-size: 150%;
  padding: 0 0;
  @extend .scta-button-flag-half;

}
html{
  background-color: #e9ebee;
}
.scta-card{
  border: 1px solid rgba(0,0,0,.18);
  border-radius: 5px;
  margin: 10px;
  background-color: #ffffff;
}
